.content {
    border: 3px solid green;
    width: 60%;
    text-align: center;
    align-items: center;
    margin: auto;
}

.content img {
    width: 100%;
    margin-top: 10px;

}

/* .content input {
    width:100%;
} */