/* h1 {
    text-align: center;
    top: 50%;
}

p {
    text-align: center;
    top: 50%;
}

button {
    left: 50%;
    top: 50%;
} */

/* .content {
    position: relative;
    border:3px solid black;
    height:400px;
} */

.information {
    margin: auto;
    width: 70%;
    border: 5px solid yellow;
    position: relative;
    height: 200px;


    /* position: absolute;
    height: 400px;
    border: 3px solid black;
    width: 40%;
    
    display: flex;
    justify-content: center; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;  */
}

.information h1 {
    text-align: center;
}

.information p {
    text-align: center;
}


.navigation_buttons {
    position: absolute;
    width: auto;
    height: auto;
    /* border: 5px solid blue; */
    left: 50%;
    transform: translate(-50%, -50%);
}